// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list {
  list-style: none;
  padding-top: 30px;
  margin-left: 300px;

  a {
    color: #337ab7;
    font-size: 35px;
    text-decoration: none;
  }
  a:hover {
    color: #1d4f7b;
    text-decoration: none;
  }
  p {
    font-weight: lighter;
  }
}
